body
{
  font-family: montserrat, sans serif;
  background-color: white;
}

header
{
  top: 5px;
  background-color: white;
  color: white;
}

img 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height:auto;
}

.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    border: none;
}

.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    font-size: 20px;
    color: #691a89;
}

h1 {
  font-size: 70px;
  padding-top: 90px;
  text-align: center;
  color: #029701;
}

#statement {
  text-align: center;
  font-size: 20px;
  color: #691a89;
}




