body
{
  font-family: montserrat, sans serif;
}

header
{
  top: 5px;
  background-color: #4C004C;
  color: white;
}


#myname
{
  text-align: center;
  color: white;
  font-size: 30px;
}

img 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height:auto;
}

#therest {
  text-align: center;
  color: #4C004C;
}

ul {
  list-style type: none;
}

li {
  display: inline;
}


